{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="container" class="form-title">
            <h2>Créer la première carte</h2>
            <form action="{{ url('/createFirstCard') }}" method="POST" class="login-form">
                <label for="texte_carte">Texte de la carte :</label>
                <textarea id="texte_carte" name="texte_carte" required></textarea><br>

                <label for="valeurs_choix1">Valeurs choix 1 :</label>
                <input type="number" id="valeurs_choix1" name="valeurs_choix1" required><br>
                <input type="number" id="valeurs_choix1bis" name="valeurs_choix1bis" required><br>

                <label for="valeurs_choix2">Valeurs choix 2 :</label>
                <input type="number" id="valeurs_choix2" name="valeurs_choix2" required><br>
                <input type="number" id="valeurs_choix2bis" name="valeurs_choix2bis" required><br>

                <input type="hidden" name="deckId" value="{{ deckId }}">

                <button type="submit" class="submit-button">Créer</button>
            </form>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        </div>
    </section>
{% endblock %}
