{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <h2 class="form-title">Créer une partie</h2>
            <form action="{{ url('/createDeck') }}" method="POST" class="login-form">
                <label for="titre_deck">Titre du Deck :</label>
                <input type="text" id="titre_deck" name="titre_deck" required><br>

                <label for="date_debut_deck">Date de début :</label>
                <input type="date" id="date_debut_deck" name="date_debut_deck" required><br>

                <label for="date_fin_deck">Date de fin :</label>
                <input type="date" id="date_fin_deck" name="date_fin_deck" required><br>

                <label for="nb_carte">Nombre de cartes pour le deck :</label>
                <input type="number" id="nb_carte" name="nb_carte" required min="1"><br> <!-- min="1" pour empêcher 0 -->

    

                <button type="submit" class="submit-button">Créer</button>
            </form>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        </div>
    </section>
{% endblock %}
