{% extends 'layout.html.twig' %}

{% block content %}
    <section>
    <div class="container">
        <h2 class="section-title">Aucune fabrication de deck en cours</h2>
    </div>
</section>

{% endblock %}
